AddDefaultCharset utf-8

ErrorDocument 400 /500
ErrorDocument 401 /500
ErrorDocument 402 /500
ErrorDocument 403 /500
ErrorDocument 404 /404
ErrorDocument 405 /500
ErrorDocument 406 /500
ErrorDocument 407 /500
ErrorDocument 408 /500
ErrorDocument 409 /500
ErrorDocument 410 /500
ErrorDocument 411 /500
ErrorDocument 412 /500
ErrorDocument 413 /500
ErrorDocument 414 /500
ErrorDocument 415 /500
ErrorDocument 416 /500
ErrorDocument 417 /500
ErrorDocument 500 /500
ErrorDocument 501 /500
ErrorDocument 502 /500
ErrorDocument 503 /500
ErrorDocument 504 /500
ErrorDocument 505 /500

RewriteEngine On
RewriteBase /

# www
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^instabut.net [NC]
RewriteRule ^(.*)$ http://www.instabut.net/$1 [L,R=301]

# pages
RewriteRule ^page/([A-za-z0-9]+)/?$   index.php?page=$1 [L]

# ajax
RewriteRule ^ajax/?$   index.php?page=ajax [L]

# search
RewriteRule ^search/(.*)/$   search/$1 [L,R=301]
RewriteRule ^search/(.*)/?$   index.php?page=search&query=$1 [L]


# location
RewriteRule ^location/(.*)/([0-9]+)/(.*)/more?$   index.php?page=location&id=$2&next=$3 [L]
RewriteRule ^location/(.*)/([0-9]+)$ index.php?page=location&id=$2 [L]



# tag
RewriteRule ^tag/(.*)/(.*)/show-more?$   index.php?page=tag&tag=$1&next=$2 [L]
RewriteRule ^tag/(.*)?$   index.php?page=tag&tag=$1 [L]

# photo,video,carousel
RewriteCond %{REQUEST_URI} ^/media
RewriteRule ^media/(.*)_(.*)$ http://www.instabut.net/media/$1 [L,R=301]
RewriteRule ^media/(.*)$ index.php?page=media&id=$1 [L]

# error
RewriteRule ^404/?$   index.php?page=404 [L]
RewriteRule ^500/?$   index.php?page=500 [L]

# main
RewriteRule ^/?$   index.php?page=main [L]

# profile
RewriteRule ^profile/(.*)/([0-9]+)/(.*)/more-posts?$   index.php?page=profile&user=$1&id=$2&next=$3 [L]
#RewriteRule ^profile/(.*)/([0-9]+)$   index.php?page=profile&user=$1&id=$2 [L]




# 301 redirects

#RedirectMatch ^/profile/(.*)/([0-9]+)$ /profile/$1?

RewriteCond %{REQUEST_URI} ^/profile
RewriteRule ^profile/(.*)/(.*)$ http://www.instabut.net/profile/$1 [L,R=301]
RewriteRule ^profile/(.*)$   index.php?page=profile&user=$1 [L]


RewriteCond %{REQUEST_URI} ^/photo
RewriteRule ^photo/(.*)/(.*)$ http://www.instabut.net/media/$2 [L,R=301]

RewriteCond %{REQUEST_URI} ^/video/
RewriteRule ^video/(.*)/(.*)$ http://www.instabut.net/media/$2 [L,R=301]

RewriteCond %{REQUEST_URI} ^/carousel/
RewriteRule ^carousel/(.*)/(.*)$ http://www.instabut.net/media/$2 [L,R=301]
